.state {
  fill: #999;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

text {
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}
