/* Color fills */

.light-blue-fill {
  fill: #BBDEFB;
}
.light-blue-stroke {
  stroke: #BBDEFB; 
  stroke-width: 1px;
}

.blue-fill {
  fill: #2196F3;
}
.blue-stroke {
  stroke: #2196F3; 
  stroke-width: 1px;
} 

.dark-blue-fill {
  fill: #1565C0;
}
.dark-blue-stroke {
  stroke: #1565C0; 
  stroke-width: 1px;
}


.redScale-0 { fill: #fff !important; }
.redScale-1 { fill: #fff5f0 !important; }
.redScale-2 { fill: #fee0d2 !important; }
.redScale-3 { fill: #fcbba1 !important; }
.redScale-4 { fill: #fc9272 !important; }
.redScale-5 { fill: #fb6a4a !important; }
.redScale-6 { fill: #ef3b2c !important; }
.redScale-7 { fill: #cb181d !important; }
.redScale-8 { fill: #a50f15 !important; }
.redScale-9 { fill: #67000d !important; }

/*
.redScale-0 { fill: red !important; }
.redScale-1 { fill: red !important; }
.redScale-2 { fill: red !important; }
.redScale-3 { fill: red !important; }
.redScale-4 { fill: red !important; }
.redScale-5 { fill: red !important; }
.redScale-6 { fill: red !important; }
.redScale-7 { fill: red !important; }
.redScale-8 { fill: red !important; }
.redScale-9 { fill: red !important; }
*/